<launch>
    <node pkg="path_planning" type="mgeo_pub.py" name="mgeo_pub"  />

    <node pkg="path_planning" type="gpsimu_parser.py" name="GPS_IMU_parser" />
    <node pkg="path_planning" type="tf_pub.py" name="tf"  />
    <node pkg="path_planning" type="visual_obstacle.py" name="object_rviz"  /> 
    <!-- <node pkg="path_planning" type="global_path_dubins.py" name="global_path" output="screen"/> -->
    <!-- <node pkg="path_planning" type="rrtstardubins.py" name="global_path" output="screen"/> -->
    <node pkg="path_planning" type="global_path_rrtstardubins.py" name="global_path"  output="screen" />
    <!-- <node pkg="path_planning" type="global_path_ccrs.py" name="global_path" output="screen"/> -->
    <node pkg="path_planning" type="local_path_pub.py" name="local_path"  output="screen" />
    <!-- <node pkg="control" type="pure_pursuit.py" name="pure_pursuit" output="screen"/> -->
    <node pkg="path_planning" type="state_manager.py" name="state_manager"  />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find auto_driving)/rviz/final.rviz"/>
</launch>
